*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	background-image: linear-gradient(to top,#f5f5f5,#fefefe)
	height: 10000px;
}
.container{
	width: 760px;
	margin: 0 auto;
	border: 1px solid red;
}
.header .logo{
	padding-top: 35px;
}
.container .header .logo a img{
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.container .header .menu ul{
	overflow: hidden;
}
.container .header .menu ul li{
	float: left; 
}
.container .header .menu ul li a{
	color: #5f5d67;
	font-size: 14px;
	font-family: Arial;	
	border: 1px solid green;
	padding: 12px 28px;
	display: inline-block;
	background-color: #fff;
	border-right: 0;
	border-bottom: 3px solid #9dc5f0;
}
.container .header .menu ul li:last-child a{
	border-right: 1px solid green;
}
.container .header .menu ul li a:hover{
	color: #fff;
	background-color: blue;
	border-color: #000

}